html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url(../images/login_bg.jpg) center;
    background-size: cover;
}

/* logo区域 */
.logo {
    padding-top: 30px;
}

/* 登录/注册区域 */
.loginBox {
    width: 600px;
    height: 410px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgi {
    height: 100px;
    background: url(../images/login_title.png) no-repeat center;
}

.layui-form {
    padding: 10px 30px;
}

.layui-form .layui-input {
    padding-left: 35px;
}

.link {
    float: right;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.register {
    display: none;
}